{%extends "parent.html" %}
{%block content%}
<style>
    body{
        background-color: rgba(0, 255, 255, 0.211);
    }
    .container1{
        display: inline;
    }
    .container2{
        display: inline-flex;
        margin-left: 30px;
    }
    .container3{
        display: inline-flex;
        margin-left: 30px;
    }
    .container4{
        display: inline-block;
        margin-top: 100px;
        margin-left: 50px;
        width: 500px;
    }
    .box1{
        margin-left: 20px;
        padding: 20px;
        display: inline-flex;
        
    }
    .box2{
        display: block;
        padding-left: 30px;
    }
    .list-group{
        width: 200px;
    }
    h1{
        text-align: center;
        margin-top: 30px;
    }
    img{
        width: 200px;
        height: 200px;
        
       
    }
    .card{
        margin-top: 100px;
        margin-left: 20px;
    }
    .card-img-top{
        height: 300px;
        
    }
</style>
<body>
    <div class="container1">
        <div class="container2">
            <div class="card shadow bg-body rounded" style="width: 18rem;">
            <img src="https://bit.ly/3QZ8chC" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sunflower</h5>
              <p class="card-text">Sunflowers symbolise loyalty, adoration thanks to the myth of Clytie and Apollo.</p>
              <a href="#" class="btn btn-primary">More about</a>
            </div>
            </div>
            <div class="card shadow bg-body rounded" style="width: 18rem;">
            <img src="https://bit.ly/3BUSxeU" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Red Rose</h5>
                <p class="card-text">Red roses symbolize love and romance and are the perfect Valentine's Day rose.</p>
                <a href="#" class="btn btn-primary">More about</a>
            </div>
            </div>
            <div class="card shadow bg-body rounded" style="width: 18rem;">
            <img src="https://bit.ly/3dvBzdz" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Diasy</h5>
                <p class="card-text">Daisy is known as the sacred flower for the goddess of love, beauty and fertility.</p>
                <a href="#" class="btn btn-primary">More about</a>
            </div>
            </div>
            <div class="card shadow bg-body rounded" style="width: 18rem;">
                <img src="https://bit.ly/3QWZtfH" class="card-img-top" alt="...">
            <div class="card-body">
                    <h5 class="card-title">Carnation</h5>
                    <p class="card-text"> Carnation represents a beating heart that is filled with love, just like a mother's.</p>
                    <a href="#" class="btn btn-primary">More about</a>
            </div>
            </div>
        </div>
        <div class="container3">
            <div class="card shadow bg-body rounded" style="width: 18rem;">
                <img src="https://bit.ly/3BB8aqf" class="card-img-top" alt="...">
            <div class="card-body">
                    <h5 class="card-title">Asters</h5>
                    <p class="card-text">Asters symbolize love, wisdom, faith, and color. The Aster flower blooms in pink, red and white.</p>
                    <a href="#" class="btn btn-primary">More about</a>
            </div>
            </div>
            <div class="card shadow bg-body rounded" style="width: 18rem;">
                <img src="https://bit.ly/3SgbXQw" class="card-img-top" alt="...">
            <div class="card-body ">
                    <h5 class="card-title">Orchids</h5>
                    <p class="card-text">Orchids symbolize innocence and purity, as well as elegance and reverence.</p>
                    <a href="#" class="btn btn-primary">More about</a>
            </div>
            </div>
        <div class="container4">
            <h3 style="text-align: center;">Choose items you want to wrap</h3><hr>
        
        <div class="box1">
            
            <ul class="list-group">
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                  <label class="form-check-label" for="firstCheckbox">Sunflower</label>
                </li>
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                  <label class="form-check-label" for="secondCheckbox">Red Rose</label>
                </li>
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                  <label class="form-check-label" for="thirdCheckbox">Diasy</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">Carnation</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">Asters</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">Orchids</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">White Rose</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">Yellow flower</label>
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                    <label class="form-check-label" for="thirdCheckbox">Blue Flower</label>
                </li>
              </ul>
              <div class="box2" style="margin-left: 10px;"><img src="https://bit.ly/3BAavSA" style="width:250px ;height: 300px;">
                 
                <div class="input-group mb-3" style="margin-top: 15px;">
                    <input type="text" class="form-control" placeholder="Type color" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Done</button>
                  </div>
              </div> 
              
        </div>
        
        
    </div>
    </div>
</body>
{%endblock%}